# Environment
.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/
.vite/

# AI models & data
ai/model/*.h5
ai/model/*.keras
ai/data/*.csv
!ai/data/mock_readings.csv

# Docker volumes (local dev)
mosquitto/data/
mosquitto/log/

# OS / Editor
.DS_Store
.vscode/
*.log
